---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Boston&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":-71.06,"lat":42.36},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"base":"cmc stations","main":{"temp":82.74,"pressure":1017,"humidity":65,"temp_min":79,"temp_max":89.6},"wind":{"speed":4.26,"deg":210.5},"clouds":{"all":40},"dt":1439997830,"sys":{"type":1,"id":1801,"message":0.0143,"country":"US","sunrise":1439978162,"sunset":1440027521},"id":4930956,"name":"Boston","cod":200}
  recorded_at: Wed, 19 Aug 2015 16:25:02 GMT
recorded_with: VCR 2.9.3
